@import '~antd/es/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './variables.less';

// Menu
// ---
@menu-inline-toplevel-item-height: 40px;
@menu-item-height: 40px;
@menu-item-group-height: @line-height-base;
@menu-collapsed-width: 80px;
@menu-bg: @component-background;
@menu-popup-bg: @component-background;
@menu-item-color: @text-color;
@menu-inline-submenu-bg: @background-color-light;
@menu-highlight-color: @primary-color;
@menu-highlight-danger-color: @error-color;
@menu-item-active-bg: @primary-1;
@menu-item-active-danger-bg: @red-1;
@menu-item-active-border-width: 3px;
@menu-item-group-title-color: @text-color-secondary;
@menu-item-vertical-margin: 4px;
@menu-item-font-size: @font-size-base;
@menu-item-boundary-margin: 8px;
@menu-item-padding-horizontal: 20px;
@menu-item-padding: 0 @menu-item-padding-horizontal;
@menu-horizontal-line-height: 46px;
@menu-icon-margin-right: 10px;
@menu-icon-size: @menu-item-font-size;
@menu-icon-size-lg: @font-size-lg;
@menu-item-group-title-font-size: @menu-item-font-size;

// dark theme
@menu-dark-color: @menuText;
@menu-dark-danger-color: @error-color;
@menu-dark-bg: @menuBg;
@menu-dark-arrow-color: @menuText;
@menu-dark-inline-submenu-bg: @subMenuBg;
@menu-dark-highlight-color: @menuActiveText;
@menu-dark-item-active-bg: @menuHover;
@menu-dark-item-active-danger-bg: @error-color;
@menu-dark-selected-item-icon-color: @menuText;
@menu-dark-selected-item-text-color: @menuActiveText;
@menu-dark-item-hover-bg: @subMenuHover;