<!DOCTYPE html>
<head>
  <title>
    Vue Admin Template
  </title>
  <style>
    html,body{
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
<%= htmlWebpackPlugin.files.css.map(css => "<link href=\"" + htmlWebpackPlugin.files.publicPath + css + "\" rel=\"stylesheet\">").join("") %></head>
<body>
  <div id="app">
  </div>
  <!-- importmap 必须用 ./  /  // http:// 开头 -->
<script type="systemjs-importmap">
  {
    "imports": {
      "React": "app:React",
      "ReactDOM": "app:ReactDOM",
      "moment": "app:moment",
      "antd": "app:antd",
      "editor": "<%= (htmlWebpackPlugin.files.publicPath || './') + htmlWebpackPlugin.files.chunks.editor.entry %>"
    }
  }
</script>
<%= htmlWebpackPlugin.files.js.filter(js => js != htmlWebpackPlugin.files.chunks.editor.entry).map(js => "<script src=\"" + htmlWebpackPlugin.files.publicPath + js + "\" ></script>").join("") %>
<script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
<script src="https://unpkg.com/react/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/antd/dist/antd-with-locales.min.js"></script>
<script src="//unpkg.com/systemjs/dist/system.js"></script>
<script>
  System.set('app:React', window.React)
  System.set('app:ReactDOM', window.ReactDOM)
  System.set('app:moment', window.moment)
  System.set('app:antd', window.antd)
</script>
</body>